# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.ShapesPerception.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kubal\Kiwi\Unity\ShapesPerception\.idea\.idea.ShapesPerception\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
